
    <div class="outerContainer" fxLayoutAlign="center">
   
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" class="container" fxLayoutAlign="center">
          <mat-card class="recognition-card">
            <mat-card-header>
                
              <mat-card-title class="title">  <img class="book-img" src="/assets/book.jpg"> SUBMIT YOUR RECOGNITION HERE</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="recognitionForm" *ngIf="recognitionForm">
                    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="25px">
                        <div fxLayout="column" fxLayout.sm="row" class="set-content">
                            <mat-form-field class="example-full-width">
                                <mat-label>Employee Name</mat-label>
                                <input matInput
                                       aria-label="Select User"
                                       [formControl]="user"
                                       formControlName="username"
                                       [matAutocomplete]="auto"
                                       required
                                       >
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user.employeeId">
                                    <img class="example-option-img" aria-hidden height="25">
                                    <span>{{user.employeeName}}</span> |
                                    <small>EmpId: {{user.employeeId}}</small>
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <div *ngIf="usershowError" class="errorMsg">{{userMessage}}</div>
                  </div>
                  <div fxLayout="column" fxLayout.sm="row" class="set-content">
                    <mat-form-field class="row-width">
                        <input
                        type="number"
                        matInput
                        placeholder="points"
                        formControlName="points"
                        value="100"
                        required
                      />
                      </mat-form-field>
                  </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" class="badge-title set-content">Select Badge</div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="5px" class="set-content">
                            <div fxLayout="row">
                                <button mat-raised-button (click)="getBadgeName('People-first')" [disabled]="disablePeople"><img class="button-img" src="/assets/people-first.png"></button>
                            </div>
                            <div><button mat-raised-button (click)="getBadgeName('Bold')" [disabled]="disableBold"> <img class="button-img" src="/assets/bold.png"></button></div>
                            <div><button mat-raised-button (click)="getBadgeName('Inclusive')" [disabled]="disableInclusive"><img class="button-img" src="/assets/inclusive.png"></button></div>
                            <div><button mat-raised-button (click)="getBadgeName('Innovative')" [disabled]="disableInnovative"><img class="button-img" src="/assets/innovative.jpeg"></button></div>
                            <div><button mat-raised-button (click)="getBadgeName('Trust')" [disabled]="disableTrust"><img class="button-img" src="/assets/trust.png"></button></div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center">
                        <div class="button-text"><p>People-first</p></div>
                        <div class="button-text"><p>Bold</p></div>
                        <div class="button-text"><p>Inclusive</p></div>
                        <div class="button-text"><p>Innovative</p></div>
                        <div class="button-text"><p>Trust</p></div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column">
    
                        <mat-form-field class="example-full-width row-width badge-title">
                            <textarea matInput placeholder="Comment here..." formControlName="comments" required></textarea>
                          </mat-form-field>
                    </div>
               </form>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end" class="set-content-actions">
                <button mat-raised-button class="primary" (click)="SubmitRecognition()">Submit</button>
                <button mat-raised-button class="primary" (click)="resetForm()">Reset</button>
            </mat-card-actions>
          </mat-card>
    
    </div>
    </div>
    
    
    