.loginpage {
        display: grid;
        min-height: 100vh; /* Ensure full viewport height */
        align-items: center;
        justify-items: center;
        background-color: green;
      }



      .mat-form-field {
        min-width: 300px;
        margin-right: 10px;
        margin-left: 10px;
      }
    
      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }
    
      mat-icon {
        float: left;
        opacity: 0.5;
        margin-top: 14px;
      }

      .primary {
        background-color: green;
        color: white;
      }

      /* Mobile CSS */
@media only screen and (max-width: 768px) {
 

  .loginpage {
  /* Ensure full viewport height */
    background-color: green;
    text-align: center;
    clear: both;
    width: max-content;
    height: 153vh;
  }
}


