.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar.mat-primary {
    background: green !important;
   
}
.logo {
    width: 100px;
    height:50px;
}

.space {
    width: 80px;
    max-width: 80px;
}


::ng-deep .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
    left : -35px;
    width:auto;
}

::ng-deep .mat-badge-accent .mat-badge-content {
    background: #890606; 
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .logo {
        width: 100px;
        height:50px;
    }

    .toolbar-m {

        width :max-content;

    }

    .points {
        color : maroon;
    }

    .emp-name {
        padding-left : 30px;
    }

}